{% extends "layout.html" %}

{% block title %}
  API Access
{% endblock %}


{% block content %}




<div class="api wrapper">
  <h1>API Acess</h1> 
  {{message}}

  <form class="justify-content-center" action="{{ url_for('api') }}" method="post">

        <div class="form-group col-lg-3">
            <input class="form-control" type='text' name="isbn" placeholder="enter bookname/author/isbn">
            
        </div>
        <div class="form-group col-lg-3"><button class="form-control btn btn-primary">Search</button>
        </div>

    </form>

  <div class="col-lg-12 row">
    <h6>
        {%for book in title_input %}
        <div class="row col">
          {{book.book_id}}
          {{book.author}}
          {{book.isbn_id}}
          <a href="{{url_for('api_Access',isbn_id=book.isbn_id)}}">Access API</a>
        </div>
        
      {%endfor%}
    </h6>
      
      
  </div>
    
</div>

{% endblock %}
