{% extends "layout.html" %}

{% block title %}
    search
{% endblock %}
{% block nav %}

    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-toggler-Om" aria-controls="navbar-toggler-Om" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="{{url_for('home')}}">Bookii</a>

  <div class="collapse navbar-collapse" id="navbar-toggler-Om">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" href="{{url_for('index')}}">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('api') }}">API Access</a>
      </li>
    </ul>
  </div>

  <div class="row text-right">
            <a type="button" class="btn btn-dark"href="{{url_for('signout')}}" role="button">Sign Out</a>
        </div>
</nav>
{% endblock %}

{% block content %}
<div class="review">
    
    <h1>Books</h1>
    <hr>
     {%for book in name_input%}
        
     <div class="row text-content">
        <a href="{{url_for('search',book_id=book.book_id)}}">
        {{book.book_id}}
        
        {{book.title}}
        </a>
    </div>
    
     {%endfor%}

</div>
    

{% endblock %}
